@import '../../vendor/_variables';

.user {
	display: flex;
	width: 157px;
	justify-content: flex-end;
	align-items: center;

	&__panel {
		display: flex;
		align-items: center;
	}

	&__pic {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		width: 50px;
		height: 50px;
		border-radius: 8px;
		overflow: hidden;

		img {
			vertical-align: top;
			width: 100%;
			height: auto;
		}
	}

	&__btn {
		background: transparent;
		border: none;
		cursor: pointer;
		width: auto;
		padding: 0;
	}

	&__item {
		margin-left: 30px;

		&:first-child {margin-left: 0;}
	}

	&__messages {
		position: relative;
		top: 1px;
	}
}