.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  font-size: 16px;
  border-bottom: 1px solid #DCDCE0;
  margin-bottom: 30px; }
  .filter__label {
    color: #8D8E8F;
    padding-left: 5px;
    padding-top: 20px;
    margin-right: 18px; }
  .filter__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .filter__item {
    position: relative;
    display: inline-block;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-right: 10px; }
    .filter__item:hover, .filter__item.hover {
      color: #00CFFF; }
    .filter__item.active {
      color: #4B4B4E; }
      .filter__item.active:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #EBEBEB; }
    .filter__item.disabled {
      cursor: default;
      color: #B4B4B6; }
