<div id="overlay" class="val-popup-container">
	<div class="container">
		<div class="val-popup">
			<div class="val-popup__head">
				<div class="title"><h1>Оставить оценку</h1></div>
				<div class="val-popup__desc">об отеле Alva Donna Exclusive Hotel & Spa 5* (Турция, Белек)</div>
				<button class="val-popup__close  js-popup-hide"><i class="icon icon-close-blue"></i></button>
			</div>
			<div class="val-popup__body">
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Сервис</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Размещение</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item  error">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Питание</div>
						<div class="val-popup__message">Необходимо поставить оценку</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Работа ресепшен</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Вежливый персонал</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Анимация</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Рестораны и бары</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Благоустройство территории</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Безопасность в отеле</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Питание</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
				<div class="val-popup__item">
					<div class="val-popup__name-wrap">
						<div class="val-popup__name">Питание</div>
					</div>
					<div class="val-popup__val">
						<div class="val-popup__val-item  val-popup__val-item--not"><div class="lighting-active"><span class="lighting__text">Не знаю</span></div></div>
						<div class="val-popup__val-item">1</div>
						<div class="val-popup__val-item">2</div>
						<div class="val-popup__val-item">3</div>
						<div class="val-popup__val-item">4</div>
						<div class="val-popup__val-item">5</div>
						<div class="val-popup__val-item">5+</div>
					</div>
				</div>
			</div>
			
			<div class="val-popup__form">
				<div class="val-popup__form-title">Когда вы здесь были?</div>
				<div class="val-popup__form-row">
					<div class="val-popup__form-item">
						<div class="val-popup__form-field">
							<input type="text" class="val-popup__form-input" readonly placeholder="Месяц">
							<button class="val-popup__form-trigger"><i class="icon icon-arrow-min-down-blue"></i></button>
						</div>
						<div class="val-popup__form-modal"></div>
					</div>
					<div class="val-popup__form-item">
						<div class="val-popup__form-field">
							<input type="text" class="val-popup__form-input" readonly placeholder="Год">
							<button class="val-popup__form-trigger"><i class="icon icon-arrow-min-down-blue"></i></button>
						</div>
						<div class="val-popup__form-modal"></div>
					</div>
				</div>
			</div>

			<div class="val-popup__bot">
				<a href="#!" class="btn  js-popup-hide">Добавить оценку</a>
			</div>
		</div>
	</div>
</div>