<footer class="footer">
	<div class="footer__line"></div>
	<div class="container">
		<button class="footer__open  js-footer-show"></button>
		<div class="footer__row">
			<div class="footer__text  footer__text--label">© 2017 Hotel Inspector. Все права защищены.</div>
			<div class="footer__links">
				<a href="#!" class="footer__link">Что такое HotelsInspector</a>
				<a href="#!" class="footer__link">Сотрудникам отелей</a>
				<a href="#!" class="footer__link">Обратная связь</a>
			</div>
		</div>
		<div class="footer__row">
			<div class="footer__text  footer__text--label">Мобильное приложение</div>
			<div class="footer__links  footer__links--full">
				<a href="#!" class="footer__link  footer__link--icon"><img src="images/appstore.png" alt=""></a>
				<a href="#!" class="footer__link  footer__link--icon"><img src="images/googleplay.png" alt=""></a>
			</div>
		</div>
	</div>
</footer>