<header class="header">
	<div class="container">
		<a href="#!" class="logo"><img src="images/logo.png" alt=""></a>

		<div class="search">
			<div class="search__field">
				<input type="text" class="search__input" placeholder="Поиск отеля и пользователей">
				<button class="search__submit"><i class="icon icon-search-gray"></i></button>
			</div>
		</div>

		<div class="user">
			<div class="user__panel">
				<span class="user__item  user__messages">
					<button class="user__btn"><i class="icon icon-cloud-gray"></i></button>
				</span>
				<span class="user__item  user__notification">
					<button class="user__btn"><i class="icon icon-bell-gray"></i></button>
				</span>
				<span class="user__item"><a href="#!" class="user__pic"><img src="images/userpic.jpg" alt=""></a></span>
			</div>
		</div>
	</div>
</header>

<nav class="menu">
	<div class="container">
		<ul class="menu__items">
			<li><a href="#!" class="menu__link">Лента</a></li>
			<li><a href="#!" class="menu__link  active">Отели</a></li>
		</ul>
	</div>
</nav>