<div id="overlay" class="photo-popup-container">
	<div class="container">
		<div class="photo-popup">
			<div class="photo-popup__img">
				<img src="images/pexels-photo.jpg" alt="">

				<div class="photo-popup__img-arrow  photo-popup__img-arrow--prev"><i class="icon icon-arrow-left-white"></i></div>
				<div class="photo-popup__img-arrow  photo-popup__img-arrow--next"><i class="icon icon-arrow-right-white"></i></div>
				<div class="photo-popup__img-count">3 из 8</div>
			</div>
			<div class="photo-popup__info">
				<div class="photo-popup__info-item">
					<div class="post-head">
						<a href="#!" class="post-head__userpic"><img src="images/userpic.jpg" alt=""></a>
						<div class="post-head__userinfo">
							<a href="#!" class="post-head__username">Пользователь#2</a>
							<div class="post-head__message">про <a href="#!">Alva Donna Exclusive Hotel & Spa 5*</a> (Турция, Белек)</div>
							<ul class="post-head__labels">
								<li class="post-head__labels-item  post-head__labels-item--time"><i class="icon icon-clock-gray"></i> 8 часов 18 минут</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="photo-popup__info-item">
					<div class="photo-popup__desc">Без описания</div>
				</div>
				<div class="photo-popup__info-item">
					<div class="post-panel">
						<!-- actions -->
						<div class="post-panel__actions">
							<a href="#!" class="post-panel__actions-item"><i class="icon icon-heart-blue"></i> Like it  <span class="post-panel__actions-num">126</span></a>
							<a href="#!" class="post-panel__actions-item  post-panel__actions-item--share  js-share"><i class="icon icon-share-blue"></i></a>
						</div>

						<div class="share">
							<div class="share__row">
								<a href="#!" class="share__item"><i class="icon icon-vk-blue"></i></a>
								<a href="#!" class="share__item"><i class="icon icon-fb-blue"></i></a>
								<a href="#!" class="share__item"><i class="icon icon-ok-blue"></i></a>
								<a href="#!" class="share__item"><i class="icon icon-tw-blue"></i></a>
								<a href="#!" class="share__item  share__item--close  js-close-share"><i class="icon icon-close-blue"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="photo-popup__info-item  photo-popup__info-item--comments">
					<!-- comments -->
					<div class="comments">
						<!-- comment -->
						<div class="comments__item">
							<div class="post-head">
								<a href="#!" class="post-head__userpic"><img src="images/userpic.jpg" alt=""></a>
								<div class="post-head__userinfo">
									<a href="#!" class="post-head__username">Пользователь#1</a>
									<ul class="post-head__labels">
										<li class="post-head__labels-item  post-head__labels-item--date"><i class="icon icon-calendar-gray"></i> 24 марта 2017, 20:32</li>
									</ul>
								</div>
							</div>
							<div class="comments__message">Аноним#4, можно ли курить на территории отеля?</div>
						</div>
						<div class="comments__item">
							<div class="post-head">
								<a href="#!" class="post-head__userpic"><img src="images/userpic.jpg" alt=""></a>
								<div class="post-head__userinfo">
									<a href="#!" class="post-head__username">Пользователь#2</a>
									<ul class="post-head__labels">
										<li class="post-head__labels-item  post-head__labels-item--date"><i class="icon icon-calendar-gray"></i> 24 марта 2017, 20:32</li>
									</ul>
								</div>
							</div>
							<div class="comments__message">Да, вполне.</div>
						</div>
					</div>
				</div>
				<div class="photo-popup__info-item  photo-popup__info-item--form">
					<!-- form -->
					<div class="form-message">
						<div class="form-message__row">
							<div class="form-message__field">
								<textarea class="form-message__textarea" placeholder="Написать комментарий"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>