.photos {
  padding-top: 23px;
  margin: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .photos__item {
    position: relative;
    width: 50%;
    padding: 5px;
    height: 210px; }
    .photos__item:hover .photos__details {
      opacity: 1; }
    .photos__item-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%; }
  .photos__details {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 15px 18px;
    border: 1px solid #E6E6EA;
    background: #F9FAFC;
    opacity: 0;
    -webkit-transition: opacity .2s;
            transition: opacity .2s; }
    .photos__details-panel {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      border-top: 1px solid #E6E6EA;
      height: 51px; }
    .photos__details-action {
      font-size: 16px;
      color: inherit; }
      .photos__details-action .icon {
        margin-right: 10px; }
      .photos__details-action span {
        color: #B4B4B6; }
  .photos__username {
    display: block;
    font-size: 18px;
    color: #36A9E1;
    margin-bottom: 10px; }
  .photos__date {
    color: #B4B4B6; }
    .photos__date .icon {
      top: -2px;
      margin-right: 7px; }
