@import '../../vendor/_variables';

.post-add {
	border: 1px solid #E6E6EA;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 30px;
	margin-left: -20px;
	margin-right: -20px;

	.interview {margin-bottom: 10px;}

	&__btn {
		display: flex;
		align-items: center;
		cursor: pointer;
		border-radius: 8px;
		border: none;
		background: #F5F6F8;
		width: 100%;
		padding: 10px 20px;
		height: 50px;
		color: inherit;

		.icon {margin-right: 32px;}

		&-text {line-height: 17px;}
	}

	@media(max-width: 600px) {
		border: none;
	}
}

.post {

	margin-bottom: 43px;

	&:last-child {margin-bottom: 0;}
	
	&-head {
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;

		&__userpic {
			display: block;
			width: 50px;
			height: 50px;
			overflow: hidden;
			border-radius: 8px;
			margin-right: 20px;
			flex: 0 0 auto;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__userinfo {
			padding-top: 15px;
		}

			&__username {
				display: inline-block;
				font-size: 18px;
				font-weight: 600;
				color: $deepBlue;

				& + .post-head__labels {margin-top: 9px;}
			}

			&__message {
				font-size: 14px;
				line-height: 19px;
				color: #B4B4B6;
				margin-top: 1px;
				margin-bottom: 8px;
			}


			&__labels {


				&-item {
					display: inline-block;
					vertical-align: top;
					margin-right: 15px;

					&:last-child {margin-right: 0;}

					&--date, &--time {
						.icon {position: relative; top: -2px; margin-right: 5px;}
						color: #B4B4B6;
					}
				}
			}
	}

	&__body {
		padding-top: 25px;
		padding-bottom: 20px;
		border-top: 1px solid #E6E6EA;
	}

	&__img {
		img {
			max-width: 100%;
			height: auto;
		}

		& + .post__text,
		& + .post__reccomend {margin-top: 20px;}
	}

	&__text {
		font-size: 15px;
		line-height: 25px;

		& + .post__img,
		& + .post__reccomend {margin-top: 20px;}
	}

	&__reccomend {
		display: flex;
		align-items: center;

		.icon {margin-right: 18px;}

		&-text {
			position: relative;
			top: 4px;
			font-size: 22px;
			font-weight: 600;
		}

		& + .post__img,
		& + .post__text {margin-top: 20px;}
	}

}



.post-adv {
	height: 332px;
	border-radius: 8px;
	border: 1px solid $lightGray;
	background: #fbfafa;

	&__text {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		color: $baseGray;
	}
}