.menu {
  height: 49px;
  border-bottom: 1px solid #2EA5E4;
  background: #F7F8FA;
  text-align: center; }
  .menu__items {
    display: inline-block; }
    .menu__items li {
      display: inline-block;
      margin-right: 20px; }
      .menu__items li:last-child {
        margin-right: 0; }
  .menu__link {
    position: relative;
    display: block;
    font-size: 18px;
    color: #269ED3;
    text-decoration: none;
    padding: 0 25px;
    line-height: 48px; }
    .menu__link.active {
      color: #4B4B4E; }
      .menu__link.active:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: #5DBDE8; }
