<div class="suggest">
	<div class="suggest__wrapper">
		<div class="container">
			<div class="suggest__group">
				<div class="suggest__group-name">Отели</div>
				<div class="suggest__results">
					<a href="#!" class="suggest__result">
						<div class="suggest__result-name"><span class="suggest__result-selection">По</span>беда #1, отель 3*</div>
						<div class="suggest__result-place">Россия, Астрахань</div>
					</a>
					<a href="#!" class="suggest__result">
						<div class="suggest__result-name"><span class="suggest__result-selection">Lorem</span> ipsum dolor sit amet, consectetur adipisicing</div>
						<div class="suggest__result-place">Россия, Астрахань</div>
					</a>
					<a href="#!" class="suggest__result">
						<div class="suggest__result-name"><span class="suggest__result-selection">По</span>беда #1, отель 3*</div>
						<div class="suggest__result-place">Россия, Астрахань</div>
					</a>
				</div>
			</div>
			<div class="suggest__group">
				<div class="suggest__group-name">Люди</div>
				<div class="suggest__results">
					<a href="#!" class="suggest__result">
						<div class="suggest__result-name"><span class="suggest__result-selection">По</span>льзователь#2</div>
						<div class="suggest__result-place">Россия, Москва</div>
					</a>
					<a href="#!" class="suggest__result">
						<div class="suggest__result-name"><span class="suggest__result-selection">По</span>льзователь#27</div>
						<div class="suggest__result-place">Россия, Астрахань</div>
					</a>
					<a href="#!" class="suggest__result">
						<div class="suggest__result-name"><span class="suggest__result-selection">По</span>льзователь#4</div>
						<div class="suggest__result-place">Россия, Астрахань</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>