@import '../../vendor/_variables';


.form-message {
	border: 1px solid #E6E6EA;
	border-radius: 8px;

	&__row {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}

	&__userpic {
		width: 50px;
		height: 50px;
		border-radius: 8px;
		overflow: hidden;
		margin-right: 20px;
		flex: 0 0 auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__field {
		display: flex;
		align-items: flex-start;
		flex: 1 1 auto;
		margin-right: 20px;
		border: 1px solid #E6E6EA;
		border-radius: 8px;
		padding: 10px 15px 10px 0;
	}

	&__textarea {
		flex: 1 1 auto;
		border: none;
		background: transparent;
		padding: 6px 15px 4px;
		resize: none;
		height: 28px;
		line-height: 18px;
		outline: none;
		width: 100%;
		max-width: 100%;
		transition: height .2s;

		&.active {
			height: 120px;
		}

		&::placeholder {color: #B4B4B6;}
	}

	&__add {
		padding-top: 3px;
	}

	&__btn {
		border: 2px solid $baseBlue;
		border-radius: 8px;
		height: 50px;
		font-size: 16px;
		background: transparent;
		cursor: pointer;
		outline: none;
		padding: 0 14px;

		&:hover, &.hover {
			border-color: $baseCyan;
			color: $baseCyan;
		}

		&:active, &.active {
			border-color: $baseCyan;
			background: $baseCyan;
			color: #fff;
		}
	}

	&__upload {
		display: flex;
		width: 100%;
		align-items: flex-start;
		border-top: 1px solid #E6E6EA;
		padding: 10px;

		&-item {
			display: inline-block;
			max-width: 100%;
			width: auto;
			position: relative;
			margin: 10px;

			img {
				max-width: 100%;
				height: auto;
				max-height: 500px;
			}
		}

		&-item-head {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0 10px;
			position: relative;
			border: 1px solid #E6E6EA;
			border-bottom: none;
			height: 50px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			background: #F9FAFC;
		}

		&-clear {
			cursor: pointer;
			border: none;
			background: transparent;
		}
	}

	@media(max-width: 600px) {
		border-radius: 0;

		&__row {
			position: relative;
			flex-wrap: wrap;
		}

		&__userpic {
			position: absolute;
			bottom: 20px;
			left: 20px;
		}

		&__field {
			width: 100%;
			margin-right: 0;
		}

		&__btn {
			
			margin-left: auto;
			margin-top: 20px;
		}
	}
}

.form-message--post-add {
	border: none;
	margin: 5px -20px -15px;
}

.form-message--panel {
	margin: -1px;
	background: #fff;
}