@import '../../vendor/_variables';

.chat {
	padding-top: 25px;

	&__head {
		text-align: center;
		padding-bottom: 27px;
		border-bottom: 1px solid $lightGray;

		&-date {
			color: $baseGray;

			.icon {top: -2px; margin-right: 10px;}
		}
	}

	&__body {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 20px;
			height: 30px;
			background: linear-gradient(to bottom, #fff 50%, transparent 100%);
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 20px;
			height: 30px;
			background: linear-gradient(to top, #fff 50%, transparent 100%);
			z-index: 1;
		}
	}

	&__area {
		padding-top: 41px;
		padding-bottom: 20px;
		max-height: 400px;
		overflow-y: auto;
	}

	&__message {
		margin-bottom: 32px;

		.post-head {margin-bottom: 15px;}

		&-text {
			font-size: 15px;
			line-height: 25px;
		}
	}
}