.menu-aside__link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  text-decoration: none;
  color: inherit;
  font-weight: 500; }
  .menu-aside__link:hover .icon-list-blue, .menu-aside__link.hover .icon-list-blue {
    background-position: 0px -192px; }
  .menu-aside__link:hover .icon-building-blue, .menu-aside__link.hover .icon-building-blue {
    background-position: -200px -150px; }
  .menu-aside__link:hover .icon-camera-blue, .menu-aside__link.hover .icon-camera-blue {
    background-position: -105px -230px; }
  .menu-aside__link:hover .icon-cloud-blue, .menu-aside__link.hover .icon-cloud-blue {
    background-position: -236px -148px; }
  .menu-aside__link:hover .icon-user-blue, .menu-aside__link.hover .icon-user-blue {
    background-position: -236px -111px; }
  .menu-aside__link:hover .icon-bookmark2-blue, .menu-aside__link.hover .icon-bookmark2-blue {
    background-position: -108px -109px; }
  .menu-aside__link:hover .icon-bookmark-blue, .menu-aside__link.hover .icon-bookmark-blue {
    background-position: -142px -150px; }
  .menu-aside__link:hover .icon-filter-blue, .menu-aside__link.hover .icon-filter-blue {
    background-position: -268px -265px; }
  .menu-aside__link:hover .icon-exit-blue, .menu-aside__link.hover .icon-exit-blue {
    background-position: -103px -192px; }
  .menu-aside__link:hover .icon-user-subscribe-blue, .menu-aside__link.hover .icon-user-subscribe-blue {
    background-position: -166px -84px; }
  .menu-aside__link.active .icon-list-blue {
    background-position: -34px -192px; }
  .menu-aside__link.active .icon-building-blue {
    background-position: -92px -25px; }
  .menu-aside__link.active .icon-camera-blue {
    background-position: -177px -230px; }
  .menu-aside__link.active .icon-cloud-blue {
    background-position: -236px -182px; }
  .menu-aside__link.active .icon-user-blue {
    background-position: -236px -37px; }
  .menu-aside__link.active .icon-bookmark2-blue {
    background-position: -70px -150px; }
  .menu-aside__link.active .icon-bookmark-blue {
    background-position: -72px -109px; }
  .menu-aside__link.active .icon-filter-blue {
    background-position: -200px -265px; }
  .menu-aside__link.active .icon-user-subscribe-blue {
    background-position: -166px -42px; }
  .menu-aside__link.disabled {
    cursor: default;
    color: #B4B4B6; }
    .menu-aside__link.disabled .icon-list-blue {
      background-position: -73px -71px; }
    .menu-aside__link.disabled .icon-building-blue {
      background-position: -200px -78px; }
    .menu-aside__link.disabled .icon-camera-blue {
      background-position: -141px -230px; }
    .menu-aside__link.disabled .icon-cloud-blue {
      background-position: -270px 0px; }
    .menu-aside__link.disabled .icon-user-blue {
      background-position: -236px 0px; }
    .menu-aside__link.disabled .icon-bookmark2-blue {
      background-position: -34px -150px; }
    .menu-aside__link.disabled .icon-bookmark-blue {
      background-position: -200px 0px; }
    .menu-aside__link.disabled .icon-filter-blue {
      background-position: -234px -265px; }
    .menu-aside__link.disabled .icon-user-subscribe-blue {
      background-position: 0px -150px; }

.menu-aside__icon {
  width: 26px;
  margin-right: 23px;
  text-align: center; }
  .menu-aside__icon .icon {
    position: relative; }
  .menu-aside__icon .icon-camera-blue {
    top: -2px; }
  .menu-aside__icon .icon-bookmark-blue,
  .menu-aside__icon .icon-eye-blue,
  .menu-aside__icon .icon-flag-blue {
    top: -1px; }
  .menu-aside__icon .icon-crown-blue {
    top: -5px; }

.menu-aside__num {
  color: #B4B4B6; }

.content__aside-item--menu-item {
  padding-top: 9px;
  padding-bottom: 6px; }

.content__aside-item--menu {
  padding-top: 19px;
  padding-bottom: 18px; }
