.pagination {
  position: relative;
  margin: 40px -20px; }
  .pagination__back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: -78px;
    width: 58px;
    height: 58px;
    border: 1px solid #DCDCE0;
    border-radius: 8px;
    color: inherit;
    cursor: pointer;
    background: none;
    outline: none; }
  .pagination__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .pagination__more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 58px;
    border: 2px solid #5DBDE8;
    border-radius: 8px;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    color: inherit;
    outline: none;
    padding: 0 14px; }
    .pagination__more:hover, .pagination__more.hover {
      border-color: #00CFFF;
      color: #00CFFF; }
    .pagination__more:active, .pagination__more.active {
      border-color: #00CFFF;
      background: #00CFFF;
      color: #fff; }
  .pagination__pages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-touch-action: none;
        touch-action: none;
    margin-right: 20px; }
    .pagination__pages-item {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 56px;
      height: 44px;
      -ms-touch-action: none;
          touch-action: none; }
      .pagination__pages-item:after {
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        background: #fff;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-top: 1px solid #DCDCE0;
        border-bottom: 1px solid #DCDCE0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -ms-touch-action: none;
            touch-action: none; }
      .pagination__pages-item:last-child:after {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right: 1px solid #DCDCE0; }
      .pagination__pages-item:first-child:after {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-left: 1px solid #DCDCE0; }
      .pagination__pages-item:hover, .pagination__pages-item.hover {
        color: #00CFFF; }
      .pagination__pages-item.active {
        z-index: 3;
        color: #4B4B4E; }
        .pagination__pages-item.active:after {
          border-radius: 8px;
          border: 2px solid #DCDCE0;
          height: 58px;
          width: 58px; }
    .pagination__pages-text {
      position: relative;
      z-index: 2;
      font-size: 16px;
      -ms-touch-action: none;
          touch-action: none; }
